@import "../common";

.header {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;

  @media screen and (max-width: 600px) {
    padding: 0 1rem;
  }

  .input--search {
    flex: 1 1 auto;
    width: auto;

    min-height: 2.5rem;

    border-color: transparent;
    border-radius: 20px;
    background: $lightGray100
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat 13px center;

    padding-inline: 3rem;

    &-pc {
      display: block;
      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    &-mb {
      flex: unset;
      width: 100%;
      display: none;
      @media screen and (max-width: 600px) {
        display: block;
      }
    }
  }

  .header__container {
    border-bottom: 1px solid $lightGray200;

    .header__main__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2%;
      padding: 1rem 0;

      img {
        width: 90px;
        height: 40px;
      }

      .icon__wrapper {
        display: flex;
        align-items: center;

        .header__icon {
          cursor: pointer;
          font-size: 1.3rem;

          &:nth-child(1),
          &:nth-child(2) {
            margin-right: 1rem;
          }
        }

        .header__icon-menu {
          display: none;
        }
      }
    }

    .header__nav__wrapper {
      display: flex;
      justify-content: space-between;

      padding: 1rem 0;
      ul {
        display: flex;
        gap: 1rem;
        li {
          font-weight: 700;
        }
      }

      @media screen and (max-width: 600px) {
        .header__nav--main {
          display: none;
        }

        .header__nav--pickers {
          width: 100%;
          display: flex;
          gap: unset;
          li {
            width: 100%;
            font-weight: 400;
          }
        }
      }
    }
  }
}
.navigation {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 4rem;
  ol {
    display: flex;
    li {
      font-size: 0.875rem;

      &:nth-child(1)::after {
        content: ">";
        padding: 0 0.3rem;
      }
    }
  }
}
.main-title {
  margin-bottom: 4rem;
  h1 {
    margin-bottom: 2.5rem;
  }
}

.section {
  margin-bottom: 4rem;
  .title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;

    .text-wrapper {
      flex-basis: calc(7 / 12 * (100% - (11 * 1.25rem)) + (6 * 1.25rem));
      h2 {
        margin-bottom: 0.5rem;
      }
    }

    a {
      padding: 12px 16px;
      border: 1px solid black;
      border-radius: 20px;

      p {
        line-height: 1;
      }
    }

    @media screen and (max-width: 600px) {
      .text-wrapper {
        flex-basis: 100%;
      }
      a {
        display: none;
      }
    }
  }

  .photo-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;

    margin-bottom: 4rem;
    .photo {
      width: 100%;
      aspect-ratio: 3/4;

      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
      margin-bottom: 0rem;

      .photo {
        max-height: 600px;
      }
    }
  }

  .view-more__wrapper {
    width: 100%;
    min-height: 3.75rem;

    display: none;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.75rem;
    margin-bottom: 4rem;
    padding: 0.25rem 0;

    border-bottom: 1px solid $lightGray100;

    .view-more__text {
      font-weight: 700;
    }

    @media screen and (max-width: 600px) {
      display: flex;
    }
  }
  .swiper-container {
    width: 100%;
    overflow-x: hidden;

    .swiper-wrapper {
      width: 100%;

      display: flex;
      flex-wrap: nowrap;
      gap: 1%;

      margin-bottom: 2rem;

      .item {
        width: 25%;
        cursor: pointer;

        .img-wrapper {
          position: relative;
          img {
            width: 100%;
          }

          .pic-second {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
          }

          &:hover {
            .pic-second {
              display: block;
            }
          }
        }

        .info-wrapper {
          width: 95%;

          margin-top: 1rem;
          margin-bottom: 0.5rem;

          h3 {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .info__header {
              width: 100%;

              display: block;
              text-transform: uppercase;
            }
            .info__desc {
              width: 100%;

              font-weight: 400;
              letter-spacing: 0;
              font-size: 0.875rem;
            }
          }

          .info__price {
            margin-bottom: 0.5rem;

            p {
              font-size: 1.4rem;
              display: inline;
            }
            span {
              font-size: 0.7rem;
              font-weight: 400;
            }

            .price {
              &::before {
                content: "₩ ";
              }

              &--discount {
                text-decoration: line-through;
                &::before {
                  content: "₩ ";
                }
              }
            }

            .discount-price {
              margin-left: 0.5rem;
              &::before {
                content: "₩ ";
              }
            }

            .discount-percent {
              font-size: 1rem;
              font-weight: 400;
              margin-left: 0.2rem;
              &::before {
                content: "(";
              }
              &::after {
                content: "%)";
              }
            }
          }

          .cart-wrapper {
            display: flex;
            align-items: center;

            .btn-cart {
              display: flex;
              align-items: center;
              justify-content: center;

              background-color: #f4c613;
              padding: 8px 7px 6px 9px;
              border-radius: 20px;
              margin-right: 1rem;
            }

            .cart {
              font-size: 1.6rem;
            }
            .heart {
              font-size: 1.2rem;
            }
          }
        }

        @media screen and (max-width: 1200px) {
          width: 33%;
        }
        @media screen and (max-width: 600px) {
          width: 80%;
        }
      }
    }
    .swiper-scrollbar {
      left: 0% !important;
      width: 100% !important;
      height: 2px !important;
    }
  }
}

.footer {
  width: 100%;
  background-color: $lightGray100;

  .footer__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    padding: 4rem 2rem;
  }

  .content__wrapper {
    display: flex;

    .content--join {
      flex-basis: 30%;
      padding-right: 8%;

      &__title {
        margin-bottom: 0.75rem;
      }

      &__desc {
        margin-bottom: 1rem;
      }

      &__link {
        display: block;

        &--more {
          text-decoration: underline;
          margin-bottom: 1.6rem;
        }

        &--join {
          display: inline;
          color: white;
          padding: 12px 16px;
          background-color: black;
          border-radius: 20px;

          font-size: 0.7rem;
        }
      }
    }

    .content--nav {
      flex-basis: 70%;
      margin-bottom: 4rem;

      &__wrapper {
        width: 100%;
        display: flex;

        .nav {
          width: 25%;

          h3 {
            margin-bottom: 0.75rem;

            .acc__header--span {
              display: block;
            }

            .acc__header--btn {
              font-size: 1rem;
              display: none;
            }

            .i-down,
            .i-up {
              display: none;
            }
          }
          ul {
            li {
              padding: 0.7rem 0;
              a {
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  .sns__wrapper {
    width: 100%;
    display: flex;
    align-items: center;

    padding-bottom: 3rem;
    border-bottom: 1px solid $lightGray200;

    .icon-list {
      flex-basis: 70%;

      display: flex;

      i {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.2rem;
        padding-right: 2rem;
      }
    }

    .language-select {
      flex-basis: 30%;
      .language-select__wrapper {
        display: flex;
        justify-content: end;
        .language-select__link {
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 10px 14px;
          border: 1px solid $lightGray200;
          border-radius: 20px;

          i {
            font-size: 1.1rem;
            margin-right: 0.5rem;
          }

          p {
            font-size: 0.75;
            display: inline;
          }
        }
      }
    }
  }

  .privacy-info__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 2rem 0;

    ul {
      display: flex;

      .privacy-info:nth-child(1),
      .privacy-info:nth-child(2),
      .privacy-info:nth-child(3),
      .privacy-info:nth-child(4) {
        margin-right: 2rem;
      }

      a {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .privacy-detail__wrapper {
    p {
      font-size: 0.75;
      line-height: 1, 2;
    }
  }

  @media screen and (max-width: 900px) {
    .content__wrapper {
      flex-direction: column;

      .content--join {
        flex-basis: unset;
        padding-right: unset;
        margin-bottom: 4rem;

        &__link {
          &--join {
            display: inline-block;
          }
        }
      }

      .content--nav {
        flex-basis: unset;
        margin-bottom: 4rem;

        &__wrapper {
          width: 100%;
          display: flex;

          .nav {
            width: 25%;

            h3 {
              margin-bottom: 0.75rem;
            }
            ul {
              li {
                padding: 0.7rem 0;
                a {
                  cursor: pointer;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }

    .sns__wrapper {
      flex-direction: column;
      align-items: unset;

      .icon-list {
        flex-basis: unset;
        margin-bottom: 1.25rem;
      }

      .language-select {
        flex-basis: unset;
        .language-select__wrapper {
          justify-content: unset;
        }
      }
    }

    .privacy-info__wrapper {
      flex-direction: column;
      justify-content: unset;

      padding: 2rem 0 0.5rem 0;

      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0;

        .privacy-info {
          padding: 0.5rem 0;
        }

        .privacy-info:nth-child(1),
        .privacy-info:nth-child(2),
        .privacy-info:nth-child(3),
        .privacy-info:nth-child(4) {
          margin-right: 1rem;
        }
      }
    }

    .privacy-detail__wrapper {
      p {
        font-size: 0.75;
        line-height: 1, 2;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .footer__container {
      padding: 2rem 1rem;
    }

    .content__wrapper {
      flex-direction: column;

      .content--join {
        flex-basis: 100%;
        padding-right: unset;
        margin-bottom: 2rem;
      }

      .content--nav {
        flex-basis: 100%;
        margin-bottom: 2rem;

        &__wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;

          .nav {
            width: 100%;

            border-bottom: 1px solid $lightGray200;

            &:nth-child(1) {
              border-top: 1px solid $lightGray200;
            }

            h3 {
              margin-top: 0.75rem;
              margin-bottom: 0.75rem;

              padding: 1.5rem 0;

              display: flex;
              justify-content: space-between;
              cursor: pointer;

              .acc__header--span {
                display: none;
              }

              .acc__header--btn {
                display: block;
                font-size: 0.875rem;
              }

              .i-down {
                display: block;
              }
            }
            .acc_icon--active {
              .i-down {
                display: none;
              }

              .i-up {
                display: block;
              }
            }
            ul {
              height: 0px;
              overflow: hidden;
              visibility: hidden;

              transition: 0.5s;
              li {
                padding: 0.7rem 0;
              }
            }
            .active {
              height: 230px;
              visibility: visible;
            }
          }
        }
      }
    }

    .sns__wrapper {
      padding-bottom: 2rem;

      .icon-list {
        i {
          font-size: 1rem;
        }
      }

      .language-select {
        .language-select__wrapper {
          .language-select__link {
            padding: 8px 12px;
            i {
              font-size: 1rem;
            }

            p {
              font-size: 12px;
              line-height: 1;
            }
          }
        }
      }
    }

    .privacy-info__wrapper {
      p {
        font-size: 12px;
      }
      a {
        font-size: 12px;
      }
    }

    .privacy-detail__wrapper {
      p {
        font-size: 12px;
      }
    }
  }
}
